body{background-color: rgb(218, 245, 245);text-align: center;}
h1{
    color:blue;
}
p{
    color:red;
}
table{
    border: 1px solid red;
    margin: auto;
    border-collapse: collapse;
    border-color: aliceblue;
    background-color: azure;

}
table{
    margin: auto;
    border: 1px solid rgb(250, 250, 247);
    padding: 5px;
    border-color: aliceblue;
    background-color: rgb(242, 168, 161);

}